<div class="container container-page">

  <div class="container">
    <div class="row">
      <div class="col col-padding-kill">
        <h3 class="h3-site">Announcements</h3>
      </div>
      <div class="col col-padding-kill txt-align-right">
        <% if user_signed_in? %>
          <% if current_user.user_role == "Coordinator" || current_user.user_role == "Manager" %>
            <a href="/announcements/new" class="btn btn-primary custom-btn">New</a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-contents">
    <table class="table table-borderless">
      <% if user_signed_in? %>
        <% if current_user.user_role == "Coordinator" || current_user.user_role == "Manager" %>
          <%= render "announcement_list_crud", announcements: @announcements %>
        <% else %>
          <%= render "announcement_list_guest", announcements_guest: @announcements_guest %>
        <% end %>
      <% else %>
        <%= render "announcement_list_guest", announcements_guest: @announcements_guest %>
      <% end %>
    </table>
  </div>
</div>