<style>
    table, td {border: 1px solid black;}
</style>

<h1>Announcements</h1>

<div>
  <table>
    <% if user_signed_in? %>
      <% if current_user.user_role == "Coordinator" || current_user.user_role == "Manager" %>
        <%= render "announcement_list_crud", announcements: @announcements %>
      <% else %>
        <%= render "announcement_list_guest", announcements_guest: @announcements_guest %>
      <% end %>
    <% else %>
      <%= render "announcement_list_guest", announcements_guest: @announcements_guest %>
    <% end %>
  </table>
</div>

<% if user_signed_in? %>
  <% if current_user.user_role == "Coordinator" || current_user.user_role == "Manager" %>
    <p><a href="/announcements/new">New</a></p>
  <% end %>
<% end %>