<style>
    .field {padding-bottom: 1em;}
</style>

<div>
  <p><a href="./"><- Back</a></p>
</div>

<h1>New Announcements</h1>

<% if user_signed_in? %>
  <% if current_user.user_role == "Coordinator" || current_user.user_role == "Manager" %>
    <%= render "form", announcement: @announcement, new_announcement_id: @new_announcement_id,
           current_user_id: @current_user_id, button_text: @button_text
    %>
  <% else %>
    <p><%= errmsg_no_permission_to_access %></p>
  <% end %>
<% else %>
  <p><%= errmsg_no_permission_to_access %></p>
<% end %>
