<div>
  <table>
    <tr>
      <td class="thead_vertical">User ID</td>
      <td><%= @user.user_id %></td>
    </tr>

    <tr>
      <td class="thead_vertical">Name</td>
      <td><%= @user.user_name %></td>
    </tr>

    <tr>
      <td class="thead_vertical">User Role</td>
      <td><%= @user.user_role %></td>
    </tr>
  </table>
</div>