<style>
    table, td {border: 1px solid black;}
    #all {visibility: visible; display: unset;}
    #student {visibility: hidden; display: none;}
    #supervisor {visibility: hidden; display: none;}
    #moderator {visibility: hidden; display: none;}
</style>

<script type="text/javascript">
  function showHide(elementId) {
      let el = document.getElementById(elementId);

      if (el.style.visibility === "hidden") {
          el.style.visibility = "visible";
      } else if (el.style.visibility === "visible") {
          el.style.visibility = "hidden";
      }
  }

  function toggle(elementId) {
      const list = ["all", "student", "supervisor", "moderator"];

      let el_tog = document.getElementById(elementId);
      el_tog.style.visibility = "visible";
      el_tog.style.display = "unset";
      console.log(el_tog);

      for (let i = 0; i < list.length; i++) {
          if (list[i] !== elementId) {
              let el_left = document.getElementById(list[i]);
              el_left.style.visibility = "hidden";
              el_left.style.display = "none";
          }
      }
  }
</script>

<h1>User Management</h1>

<div>
  <table>
    <tr>
      <td><input type=button onClick="toggle('all')" value="All" /></td>
      <td><input type=button onClick="toggle('student')" value="Student" /></td>
      <td><input type=button onClick="toggle('supervisor')" value="Supervisor" /></td>
      <td><input type=button onClick="toggle('moderator')" value="Moderator" /></td>
    </tr>
  </table>
  <br>
</div>

<!--<div>-->
  <%#= form_tag "/usermgmt", method: :get do %>
<!--    <span>Search Keyword: </span>-->
    <%#= text_field_tag :search_keyword, params[:search_keyword] %>
    <%#= submit_tag "Search" %>
  <%# end %>
<!--  <br>-->
<!--</div>-->

<div id="all"><%= render "user_list", users: @users %></div>
<div id="student"><%= render "user_list", users: @user_student %></div>
<div id="supervisor"><%= render "user_list", users: @user_supervisor %></div>
<div id="moderator"><%= render "user_list", users: @user_moderator %></div>

