<!--<style>-->
<!--  table, td {border: 1px solid black;}-->
<!--</style>-->

<div class="container container-page">
  <h3 class="h3-site">Welcome to MMU FCI FYP Portal!</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="container container-page">
  <h3 class="h3-site">Announcements</h3>
  <div class="container-contents">
    <table class="table table-borderless">
      <tbody>
      <% @announcement_guests.each do |announcement| %>
        <tr>
          <td style="width: 20%"><b><%= announcement.created_at.strftime('%d/%m/%Y %H:%M') %></b></td>
          <td>
            <a href="/announcements/<%= announcement.announcement_id %>">
              <%= announcement.announcement_title %>
            </a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <span style="float: right;"><%= link_to "More...", announcements_path() %></span>
</div>