<div class="container container-page">
  <h3 class="h3-site">Welcome to MMU FCI FYP Portal!</h3>
  <p>This is the one-stop Final Year Project (FYP) management system for Multimedia University's Faculty of Computing and Informatics (FCI). For any enquiries, kindly send us an email at <a href="mailto:mmu_fci_fyp_portal@examplemail.com?subject=MMU%20FCI%20FYP%20Portal%20Enquiry">mmu_fci_fyp_portal@examplemail.com</a>.</p>
</div>

<div class="container container-page">
  <h3 class="h3-site">Announcements</h3>
  <div class="container-contents">
    <table class="table table-borderless">
      <tbody>
      <% @announcement_guests.each do |announcement| %>
        <tr>
          <td style="width: 20%"><b><%= announcement.created_at.strftime('%d/%m/%Y %H:%M') %></b></td>
          <td>
            <a href="/announcements/<%= announcement.announcement_id %>">
              <%= announcement.announcement_title %>
            </a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <span style="float: right;"><%= link_to "More...", announcements_path() %></span>
</div>