<div>
  <table>
    <tr>
      <td class="thead_vertical">Project ID</td>
      <td><%= @project.project_id %></td>
    </tr>

    <tr>
      <td class="thead_vertical">Project Title</td>
      <td><%= @project.project_title %></td>
    </tr>
  </table>
</div>