<table class="table table-borderless table-sm">
  <tr class="table-no-l-pad">
    <th class="col-2 table-no-l-pad">Project ID</th>
    <td><%= @project.project_id %></td>
  </tr>

  <tr class="table-no-l-pad">
    <th class="table-no-l-pad">Project Title</th>
    <td><%= @project.project_title %></td>
  </tr>
</table>